---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full">
		<header>
			<Navbar />
		</header>
		<section class="characteristics"></section>
		<section class="location"></section>
		<section class="carousel-eps"></section>
		<section class="news"></section>
		<footer></footer>
	</main>
</Layout>


<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	main {
		@apply w-full;
	}
</style>
