---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full">
		<header>
			<Header />
		</header>
		<section class="characteristics"></section>
		<section class="location"></section>
		<section class="carousel-eps"></section>
		<section class="news"></section>
		<footer></footer>
	</main>
</Layout>


