---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Map from "../components/Map.svelte"
import HospitalCard from "../components/HospitalCard.svelte"
---

<Layout title="Centros medicos" >
    <header>
        <Navbar />
    </header>
    <main>
        <section class="main-content">
            <div class="map-container">
                <Map />
            </div>
            <h2>Centros de atención</h2>
            <div class="cards-container">
                <div class="cards">
                    <HospitalCard />
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    main {
        @apply w-full h-[100vh] flex justify-center;
    }
    main .main-content {
        @apply w-full max-w-7xl h-full;
    }
    main .main-content h2 {
        @apply text-xl font-extrabold mt-8 mb-3;
    }
    main .main-content .cards-container .cards {
        @apply w-full grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))];
    }
</style>